/** @format */

.title_wrap {
  position: relative;
  width: 100%;
}
.title_wrap #text {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 213.475px);
  font-size: 60px;
}
.title_wrap .intro {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(74, 74, 74);
  z-index: 22;
} /*윈도우*/

.start {
  z-index: 3;
  position: relative;
  width: 100%;
  height: 50px;
  background: rgb(24, 23, 64);
  background: linear-gradient(
    90deg,
    rgba(24, 23, 64, 1) 0%,
    rgba(24, 20, 82, 0.5858718487394958) 100%
  );
}
.start a {
}
.start a img {
  width: 43px;
  position: absolute;
  left: 5px;
  bottom: 4px;
}
.start .search {
  background-color: rgb(240, 240, 240);
  width: 22%;
  position: absolute;
  left: 55px;
  bottom: 0px;

  height: 49px;
  box-shadow: inset 1px 1px 5px rgb(77, 71, 71);
}
.start .search .material-symbols-outlined {
  height: 50px;
  width: 50px;
  font-size: 35px;
  text-align: center;
  line-height: 50px;
}
.start .search input {
  width: 70%;
  border: none;
  background-color: rgb(240, 240, 240);
  height: 30px;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  bottom: 10px;
}

.start .search input:focus {
  outline: none;
}
#mf {
  color: white;
  position: absolute;
  bottom: 24px;
  right: 56px;
  font-size: 15px;
  z-index: 5;
}
#time {
  color: white;
  position: absolute;
  bottom: 24px;
  right: 20px;
  font-size: 15px;
  z-index: 5;
}

#data {
  color: white;
  position: absolute;
  bottom: 5px;
  right: 20px;
  font-size: 15px;
  z-index: 5;
}

/*
타이핑*/
#text1 {
  position: absolute;
  top: calc(45% - 20px);
  left: calc(50% - 213.475px);
  font-size: 60px;
}
.title_wrap #text,
#text1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.8rem;
  text-shadow: 2px 2px 5px rgb(151, 151, 151);
}

.title_wrap #text {
  font-size: 2.2rem;
  margin-left: 0.6rem;
  color: black;
  text-shadow: 2px 2px 5px rgb(219, 219, 219);
}

.title_wrap #text ::after {
  content: "";
  margin-left: 0.4rem;
  border-right: 2px solid #777;
  animation: cursor 0.9s infinite steps(2);
}

@keyframes cursor {
  from {
    border-right: 2px solid #222;
  }
  to {
    border-right: 2px solid #777;
  }
}
.dog_cover {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 30px;
}

.dog_cover .text_box {
  padding-top: 20px;
  display: block;
  width: 200px;
  height: 80px;
  background-color: #ffffcc;
  border-radius: 8px;
  border: 1px solid black;
  position: relative;
  font-size: 14px;
}
.dog_cover .text_box img {
  width: 20%;
  margin: 0;
}

.dog_cover .text_box::after {
  content: "";
  display: block;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #ffffcc;
  position: absolute;
  bottom: -15px;
  left: 60px;
}
.dog_cover img {
  width: 50%;
  margin-left: 30px;
  margin-top: 30px;
}
/*
타이핑*/
img {
  width: 100%;
}
.s_r_cover {
  position: fixed;
  top: 20px;
  left: 20px;
  /* position: sticky;
  width: 150px;

  top: calc(50% + 220px - 75px);
  right: 0;
  margin: auto;
  margin-right: 0;
  transform: translateY(-220px); */
  z-index: 2;
}
.sec_remot {
  color: white;
}
.sec_remot li {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.sec_remot li span {
  color: white;
  text-shadow: 2px 2px 5px rgb(151, 151, 151);
}
.sec_remot li img {
  width: 50px;
}
.sec_remot a {
  text-align: start;
  display: flex;
  flex-direction: column;
}
.m_info {
}
.m_info span::before {
  color: black;
  content: "○";
}
.plus .m_info span::before {
  color: rgb(84, 172, 255);
  content: "●";
}
#info {
  color: rgb(36, 36, 36);

  background: rgb(209, 231, 255);
  background: linear-gradient(
    90deg,
    rgba(209, 231, 255, 0.3981967787114846) 0%,
    rgba(190, 255, 190, 0.17690826330532217) 57%,
    rgba(153, 255, 164, 0.2189250700280112) 100%
  );
}
.img_cover {
  width: 100%;
}
.info_cover {
  width: 70%;
  margin: auto;
}
.info_cover h1 {
  padding-top: 120px;
}
.info_box {
  margin-left: 60px;
}
.info {
  display: flex;

  margin-top: 50px;
  margin-bottom: 40px;
}

.info img {
  margin-right: 30px;
  border-radius: 15px;
}
.line {
  width: 100%;
  height: 2px;
  background-color: #777;
  display: block;
  margin: 20px 0;
}
#skill {
  width: 70%;
  margin: auto;
}
.skill_cover {
  width: 100%;
  margin: auto;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  padding: 80px 0;
}
.skill_important {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill_cover img {
  background-size: contain;
}
.skill_box_cover_1,
.skill_box_cover_2,
.skill_box_cover_3 {
  display: flex;
  margin-bottom: 90px;
  gap: 70px;
}
.skill_box_cover_1 {
  margin-bottom: 70px;
  width: 70%;
}
.skill_box_cover_2 {
  margin-top: 19px;
  width: 70%;
}

.skill_box {
  width: 46%;
}
.skill_box_cover_3 {
  width: 50%;
  margin-top: 60px;
}
/*section_1*/
.project {
  overflow: hidden;
  padding-bottom: 150px;
  background: rgb(178, 199, 255);
  background: linear-gradient(
    90deg,
    rgba(178, 199, 255, 0.4290091036414566) 0%,
    rgba(120, 157, 255, 0.17690826330532217) 52%,
    rgba(88, 142, 255, 0.2189250700280112) 100%
  );
}
.p_title:nth-of-type(1) {
  text-align: center;
  padding-top: 120px;
  margin-bottom: 50px;
}
.p_title:nth-of-type(2) {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
h2 {
  margin-bottom: 40px;
}
.slide_cover {
  position: relative;
  width: 60%;
  margin: auto;
  overflow: hidden;
}
.slide {
  width: 237vw;
  position: relative;
  left: 0;
  display: flex;
  transition: 1s;
  margin: 0 40px;
}
.section_1,
.section_2,
.section_3 {
  width: 100%;
  margin-right: 70px;
  position: relative;
}
.site_cover {
}
.section_1 {
  margin-bottom: 150px;
}
.section_1 .mockup {
  position: absolute;
  width: 50%;
  align-items: center;
  bottom: -94px;
  left: -40px;
}
.section_2 .mockup {
  position: absolute;
  width: 34%;
  align-items: center;
  bottom: 95px;
  left: 10px;
}
.section_3 .pj_img {
  margin-top: 90px;
}
.pj_img {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 1px 15px 3px #abbaff;
}
.Ex {
  margin-left: 50px;
}
/*슬라이드*/

.slide_wrap {
  position: relative;
  width: 100%;
  margin: auto;
  padding-bottom: 30px;
}
.slide_box {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
}
.slide_content {
  display: table;
  float: left;
  width: 100%;
  height: 100%;
}
.cover_back {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    315deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(103, 102, 102, 0.6965161064425771) 0%,
    rgba(97, 97, 97, 1) 100%
  );
}
.cover_back h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px rgb(56, 56, 56);
}
.sub_pj_cover {
  padding: 50px 0;
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-left: 62px;
}
.sub_pj {
  width: 40%;

  padding: 42px;
}
.sub_pj a {
  width: 100%;
}
.sub_pj img {
  width: 100%;
  border-radius: 4px;
  border: 4px solid rgb(255, 201, 201);
}
.sub_pj p {
  color: white;
  margin-top: 50px;
}

.sub_pj {
  background: rgb(165, 153, 137);
  background: linear-gradient(
    315deg,
    rgba(165, 153, 137, 0.5998774509803921) 0%,
    rgba(224, 206, 183, 0.7931547619047619) 48%,
    rgba(165, 153, 137, 0.6166841736694677) 100%
  );
  border-radius: 10px;
  margin: 45px;
  transition: 0.5s;
}
.sub_pj:hover {
  transform: translateY(-5px);
  box-shadow: 5px 20px 80px rgb(182, 182, 169);
}

.btn_left,
.btn_right {
  font-size: 120px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: calc(50% - 75px);
  cursor: pointer;

  z-index: 99;
}
.slideP {
  position: relative;
}
.btn_right {
  right: 120px;
}
.btn_left {
  left: 120px;
}
/*
슬라이드*/
